nav a {
    margin-left: 10px;
	padding: 5px;
    border: 2px solid white;
    font-size: 18px;
}

h1 {
    font-size: 75px;
}

header p {
    text-align: center;
    font-size: 28px;
}

.trip {
    padding: 10px;
}

.trip-header {
    font-size: 28px !important;
}

.trip-header:hover, .trip-header:focus {
    outline: 5px solid #8884FF;
}

.content {
    font-family: 'Saira Semi Condensed', sans-serif;
}

.content p {
    margin-top: 0;
}

h4 {
    font-size: 32px;
    margin-bottom: 0;
}

.edit-form {
	display: none;
}

.large-box {
    width: 100%;
    height: 50px;
}

.delete {
    margin-top: 15px;
}

#bottom {
    margin-bottom: 20px;
}

.form-button {
    background-color: #8884FF;
    color: white;
    font-size: 21px;
}

.form-button:hover, .form-button:focus {
    color: #8884FF;
    background-color: white;
}

.cancel {
    margin-top: 10px;
    margin-left: 0;
}

.new-trip label {
    font-size: 21px;
}

.label-margin {
    display: inline-block;
    margin-top: 15px;
}

.reset {
    margin-left: 20px;
}

footer {
    margin-top: 30px;
}

@media only screen and (min-width: 640px) {
    nav a {
        margin-left: 20px;
    }

    h2 {
        font-size: 56px;
    }

    .cancel {
        margin-top: 0;
        margin-left: 10px;
    }

    .delete {
        float: right;
    }
}