nav a {
    font-size: 14px;
}

header {
    margin-bottom: 30px;
}

.landing-header {
    background: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
        ),
        url('img/castle-xmas.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    text-align: center;
}

h1 {
	font-size: 100px;
}

.landing-header p {
    font-size: 40px;
    font-weight: bold;
}

.cta {
    background-color: #8884FF;
    color: white;
    padding: 5px;
    font-size: 32px;
    border-radius: 2%;
}

.cta:hover, .cta:focus {
    background-color: white;
    color: #8884FF;
}

.features {
    padding: 10px;
    margin-bottom: 10px;
}

h2 {
    text-align: left;
    border-bottom: 4px solid white;
}

.features-inner {
    padding: 10px;
    min-height: 255px;
}

#coming-soon li {
    list-style-type: none;
}

#coming-soon a {
    color: #8884FF;
}

#coming-soon a:hover,
#coming-soon a:focus {
    color: white;
}

@media only screen and (min-width: 640px) {
    .landing-header {
        height: 800px;
    }

    .landing-header p {
        font-size: 56px;
    }

    .landing-header a {
        font-size: 40px;
    }

    nav a {
        margin-left: 10px;
        padding: 5px;
        font-size: 18px;
    }

    header {
        margin-bottom: 50px;
    }

    .features-inner p {
        font-size: 18px;
    }
}