
.visuallyhidden { 
	border: 0; 
	clip: rect(0 0 0 0); 
	height: 1px; 
	margin: -1px; 
	overflow: hidden; 
	padding: 0; 
	position: absolute; 
	width: 1px; 
}

.trip:nth-child(odd),
.features:nth-child(odd) {
	background-color: lightgray;
}

li {
	list-style-type: none;
	display: inline;
}